Repository awkonecki/interview-prep, pull requests merged in 2018-12, with the labels that each got.

#2 [FTR] Array Subject README Creation
  data-structures/arrays/README.md
Labels: arrays, documentation

#7 [PR] Implementations for Live Broadcast - Arrays
  data-structures/arrays/src/java/IterationTraversal.java
  data-structures/arrays/src/java/StaticDynamic.java
Labels: arrays, live-broadcast

#10 [PR] Verbosity Output for Clear Main Execution
  data-structures/arrays/src/java/IterationTraversal.java
  data-structures/arrays/src/java/StaticDynamic.java
  data-structures/linked-lists/README.md
Labels: arrays

#12 [Bug] Removal of Library Imports
  data-structures/arrays/src/java/StaticDynamic.java
Labels: arrays, bug

#14 [PR] Merge Remote Branch into Master w/ Documentation Updates
  data-structures/arrays/src/java/IterationTraversal.java
  data-structures/arrays/src/java/StaticDynamic.java
  data-structures/linked-lists/README.md
Labels: arrays, documentation
